
.first{
  display: flex;
  flex-direction: column;
}
h1{
color: rgba(136, 136, 238, 0.532);
}
ul{
  list-style: none;
  
}
li{
  display: inline-block;
}
.first{
  display: flex;
  justify-content: space-between;
}
.body {
  width: 100%;
  height: 500px;
  background-color: linear-gradient(rgb(123, 123, 232), rgb(234, 93, 93));
}
.container{
  background: rgba(255, 0, 0, 0.044);
  height: 200px;
}
.carousel-inner{
  background-color:red;
}
.carousel-item{
  background-color: none;
 max-height: 300px;
 min-height: 100px;
}
.card1{
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
